<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.kfg.naplo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:documentLaunchMode="intoExisting"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher_new"
            android:label="@string/main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/import_gyia">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".TableViewActivity"
            android:documentLaunchMode="intoExisting"
            android:icon="@drawable/ic_launcher_grades_new"
            android:label="@string/title_activity_table_view"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.kfg.naplo.MainActivity" />
        </activity>
        <activity
            android:name=".TableRedirectActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_launcher_grades_new"
            android:label="@string/title_activity_table_view"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimetableActivity"
            android:label="@string/timetable"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.kfg.naplo.MainActivity" />
        </activity>
        <activity
            android:name=".AbsencesActivity"
            android:label="@string/absences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.kfg.naplo.MainActivity" />
        </activity>
    </application>

</manifest>